<!-- <app-myinfo></app-myinfo>
<app-mycalculator></app-mycalculator> -->
<!-- <app-my-login></app-my-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-student></app-student> -->
<!-- <app-testif></app-testif> -->
<!-- <app-test-for></app-test-for> -->
<!-- <app-curddemo></app-curddemo> -->
<!-- <app-student-crud></app-student-crud> -->
<!-- <app-test-switch></app-test-switch> -->
<!-- <app-test-ngstyle></app-test-ngstyle> -->
<!-- <my-msg></my-msg>
<app-databinding-demos></app-databinding-demos> -->
<!-- <app-employee-crud></app-employee-crud> -->
<!-- <app-pipe-demos></app-pipe-demos> -->
<!-- {{5 | expoentialStrength:'2'}}<br>
{{5| expoentialStrength:''}} -->
<!-- <app-product-pipe></app-product-pipe> -->
<!-- <app-product-pipe-dynamic></app-product-pipe-dynamic> -->
<!-- <app-contact></app-contact> -->
<!-- <app-parent-demo></app-parent-demo> -->
<!-- <app-add-parent></app-add-parent> -->
<!-- <app-lifecyclemethods></app-lifecyclemethods> -->
<!-- <app-contactform></app-contactform> -->
<!-- <app-reactive-registration-form></app-reactive-registration-form> -->
<!-- <app-reactive-contact-form></app-reactive-contact-form> -->
<!-- <app-student-form></app-student-form> -->
<!-- <app-call-service></app-call-service> -->
<app-employee-servise></app-employee-servise>

