<!-- <app-myinfo></app-myinfo>
<app-mycalculator></app-mycalculator> -->
<!-- <app-my-login></app-my-login> -->
<!-- <app-registration></app-registration> -->
<!-- <app-student></app-student> -->
<!-- <app-testif></app-testif> -->
<!-- <app-test-for></app-test-for> -->
<!-- <app-curddemo></app-curddemo> -->
<!-- <app-student-crud></app-student-crud> -->
<!-- <app-test-switch></app-test-switch> -->
<!-- <app-test-ngstyle></app-test-ngstyle> -->
<!-- <my-msg></my-msg>
<app-databinding-demos></app-databinding-demos> -->
<!-- <app-employee-crud></app-employee-crud> -->
<!-- <app-pipe-demos></app-pipe-demos> -->
<!-- {{5 | expoentialStrength:'2'}}<br>
{{5| expoentialStrength:''}} -->
<!-- <app-product-pipe></app-product-pipe> -->
<!-- <app-product-pipe-dynamic></app-product-pipe-dynamic> -->
<!-- <app-contact></app-contact> -->
<!-- <app-parent-demo></app-parent-demo> -->
<!-- <app-add-parent></app-add-parent> -->
<!-- <app-lifecyclemethods></app-lifecyclemethods> -->
<!-- <app-contactform></app-contactform> -->
<!-- <app-reactive-registration-form></app-reactive-registration-form> -->
<!-- <app-reactive-contact-form></app-reactive-contact-form> -->
<!-- <app-student-form></app-student-form> -->
<!-- <app-call-service></app-call-service> -->
<!-- <app-employee-servise></app-employee-servise> -->
<!-- <app-student-component></app-student-component>  -->
<!-- <app-customer-component></app-customer-component> -->
<!-- <app-observable-demo></app-observable-demo> -->
<!-- <app-http-simple></app-http-simple> -->
<!-- <app-service-using-http-client></app-service-using-http-client> -->
<!-- <app-rective-validation-form></app-rective-validation-form> -->
<!-- <app-user></app-user> -->
<!-- <app-login-form-builder></app-login-form-builder> -->
<!-- <app-form-array></app-form-array> -->
<!-- <app-tickets-form></app-tickets-form>  -->
<!-- <app-select-form></app-select-form> -->







<!-- <ul>
    <li><a routerLink="">Home</a>

    </li>
    <li><a routerLink="welcome">Messages</a>

    </li>
    <li><a routerLink="about">About</a>

    </li>
    <li><a routerLink="photos">Photos</a>

    </li>
</ul>
<router-outlet></router-outlet> -->

<!-- <ul>
    <li><a [routerLink]="['./Home']">Home</a></li>
    <li><a [routerLink]="['./details']">View</a></li>
    <lI><a [routerLink]="['./contact']">ContactUs</a></lI>
    
</ul>
<router-outlet></router-outlet> -->

<!-- <ul>
    <li><a [routerLink]="['./Home']">Home</a></li>
    <li><a [routerLink]="['./About']">About Us</a></li>
    <li><a [routerLink]="['./Contact']">Contact us</a></li>
    <li><a [routerLink]="['./Contact',123]">Contact us</a></li>
</ul>
<router-outlet></router-outlet> -->

<!-- <ul>
    <li><a [routerLink]="['./users']">View</a></li>
    <li><a [routerLink]="['./adduser']">AddUser</a></li>
    
    
</ul>
<router-outlet></router-outlet> -->

<!-- <ul>
    <li><a [routerLink]="['./Home']">Home</a></li>
    <li><a [routerLink]="['./DashBoard']">DashBoard</a></li>
    <li><a [routerLink]="['./Login']">Login</a></li>
    <li><a [routerLink]="['./Logout']">Logout</a></li>
</ul>
<router-outlet></router-outlet> -->

<!-- <div style="text-align:center">
    <nav>
  <a routerLink="/" >Home</a>
  
  <a routerLink="/posts" routerLinkActive="active">Posts</a>
  
  <a routerLink="/king" routerLinkActive="active">King</a>
  
  </nav>
  
  </div>
  <div class="center">
  
  <router-outlet></router-outlet>
  
  </div> -->

  <!-- <ul>
      <li><a [routerLink]="['/']" routerLinkActive="active">DashBoard</a></li>
      <li><a [routerLink]="['/profile']" routerLinkActive="active">My Profile</a></li>
      <li><a [routerLink]="['/attendance']" routerLinkActive="active">Attendance</a></li>
      <li><a [routerLink]="['/leaves']" routerLinkActive="active">Leaves</a></li>
  </ul>
  <router-outlet></router-outlet> -->

  <!-- <ul>
    <
    <li><a [routerLink]="['/add']" routerLinkActive="active">Add</a></li>
    <li><a [routerLink]="['/tutorials']" routerLinkActive="active">Viewlist</a></li>
    <li><a [routerLink]="['/tutorials','id']" routerLinkActive="active">Details</a></li>
</ul>
<router-outlet></router-outlet> -->

 <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
     Links 
     <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
      </li>
      <li class="nav-item">
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
      </li>
    </ul>
  </nav>
  
  
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2019 </span>
    </div> -->
   </footer> 
