<p>mycalculator works!</p>
<div>
    <input type="number" [(ngModel)]="num1" placeholder="Enter number 1"/> <br>
    <input type="number" [(ngModel)]="num2" placeholder="Enter number 2"/>
</div>

<div>
    <button (click)="add1()">ADD</button>
    <h2>Addition {{add}}</h2>
    <button (click)="sub1()">SUB</button>
    <h2>substraction {{sub}}</h2>
    <button (click)="mul1()">MUL</button>
    <h2>Multiplication {{mul}}</h2>
    <button (click)="div1()">DIV</button>
    <h2>Division {{div}}</h2>
</div>
                  