<p>login-form-builder works!</p>

<form [formGroup]="authForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" formControlName="email">

    </div>

    <div class="form-group">
        <label>PassWord</label>
        <input type="text" class="form-control" placeholder="Enter password" formControlName="password">
    </div>

    <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Submit</button>



</form>
